@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline-width: 2px;
    outline-style: dashed;
    outline-color: #655AF2;
    outline-offset: 5px;

}

body {
    background: #F1F4FF;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    width: 100%;
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    flex-grow: 1;
}


.hero {
    display: flex;
}

.inner {
    margin-right: 12px;
    background-image: url(/img/Rectangle\ 6.png);
    background-repeat: no-repeat;
}

.header-content {
    padding-top: 55px;
    padding-left: 65px;

}

.header-button {
    margin-bottom: 60px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border-radius: 41px;
    border: 1px solid #FFF;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.00);
}

.main-heading {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 25px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.main-content {

    padding-left: 60px;
 
}

.main-text {
    margin-top: 0;
    padding-top: 25px;
    width: 347px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.footer-content {
    display: flex;
    padding-top: 195px;
}

b {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-text {
    text-decoration: none;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
    background: #4DC490;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 29px;
    padding-left: 144px;
    padding-right: 145px;
}

.form-wrapper {
    width: 570px;
    height: 650px;
    border-radius: 20px;
    background: #FFF;
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 60px;
}

.form-heading {
    width: 428px;
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;

}

.form {
    padding-top: 79px;
    padding-bottom: 63px;
}
.form-inner{
    padding-bottom: 43px;
}
.wrapper {
    position: relative;
    margin-bottom: 35px;
}

.input {
    padding-bottom: 14px;
    border: 0;
    color: #555;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:not(:last-child) {
    width: 450px;
    border-bottom: 1px solid #555;
}

.input-text {
    left: 300px;
    top: 34px;
    display: none;
    position: absolute;
    color: #F03535;
    text-align: right;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}

.input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.input:not(:focus):not(:placeholder-shown):invalid ~ .input-text {
    display: block;
}


.button {
    cursor: pointer;
    border: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #655AF2;
    padding: 20px 149px;
}

.form-span {
    color: #F03535;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-decoration-line: underline;
}

.span {
    padding-top: 8px;
    padding-left: 60px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: #555;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}